{% extends 'TroisMotsWebBundle::layout.html.twig' %}

{% block title %}Trois Mots - Profil de {{ user.username }}{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Profil de  {{ user.username }}</h1>

{% endblock %}
